# Python
*.pyc
__pycache__/
.DS_Store

# Generated images and data
video_processing/output/*
Scaling/output/*

# Input data
video_processing/input/*.mp4
Scaling/input/*


!video_processing/output/.keep
!Scaling/output/.keep

!video_processing/input/.keep
!Scaling/input/.keep
